/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  background-color: #FFD155;
  background-color: purple;
  height: 100vh;
}

.app {
  width: min(95vw, 126.6666666667vh);
  height: min(0.75 * min(95vw, 126.6666666667vh), 71.25vw);
  border-radius: calc(min(95vw, 126.6666666667vh) * 0.024);
  background-color: #1B1F24;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: space-between;
  flex-wrap: nowrap;
  font-family: Helvetica, Arial, sans-serif;
  font-size: calc(min(0.75 * min(95vw, 126.6666666667vh), 71.25vw) * 0.1);
  color: white;
  overflow: hidden;
}

.nav-pane {
  width: calc(min(95vw, 126.6666666667vh) * 0.209);
  background-color: #121418;
  box-sizing: border-box;
  padding: calc(min(95vw, 126.6666666667vh) * 0.209 * 0.09);
}

.nav-pane-content-box {
  height: calc(min(0.75 * min(95vw, 126.6666666667vh), 71.25vw) - 2 * min(95vw, 126.6666666667vh) * 0.209 * 0.09);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
}

.pri-nav {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-begin;
  flex-wrap: nowrap;
}

.brand {
  display: flex;
  flex-direction: row;
  justify-content: flex-begin;
  align-items: space-between;
  flex-wrap: nowrap;
  font-size: 5px;
}

.corp-logo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: space-between;
  flex-wrap: nowrap;
}

.app-nav {
  height: calc(min(0.75 * min(95vw, 126.6666666667vh), 71.25vw) * 0.45);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-begin;
  flex-wrap: nowrap;
}

.app-nav-itm {
  display: flex;
  flex-direction: row;
  justify-content: flex-begin;
  align-items: center;
  flex-wrap: nowrap;
}

.app-nav-itm-icon {
  width: 10px;
}
.app-nav-itm-icon img {
  display: block;
  width: 100%;
}

.app-nav-itm-name {
  font-size: calc(min(0.75 * min(95vw, 126.6666666667vh), 71.25vw) * 0.025);
}

.splash {
  background-color: #3393ff;
  border-radius: calc(min(95vw, 126.6666666667vh) * 0.017);
  overflow: hidden;
}
.splash img {
  display: block;
  width: 100%;
}

.brag-words {
  font-size: 5px;
}

.org-name {
  font-size: 5px;
}/*# sourceMappingURL=beds.css.map */