@use 'assets/reset' as *;
@use 'assets/var' as *;
// @use 'assets/mixing' as *;
@use 'assets/beds-vars' as *;
@use 'assets/beds-mixins' as *;

body {
    @include display-flex(center, center);
    background-color: $color-four;
    background-color: purple;
    height: 100vh;
}

.app {
    width: $app-width;
    height: $app-height;
    border-radius: $app-border-radius;
    background-color: $alt-black;
    @include display-flex(space-between);
    font-family: $font-fam;
    font-size: $pri-font-size;
    color: $pri-font-color;
    overflow: hidden;
}

.nav-pane {
    width: $nav-pane-width;
    background-color: $black;
    // background-color: red;

    box-sizing: border-box;
    padding: $nav-pane-padding;
}

.nav-pane-content-box {
    height: $nav-pane-content-box-height;
    overflow: hidden;
    @include display-flex(space-between, center, column);

    // background-color: orange;
}

.pri-nav {
    width: 100%;
    @include display-flex(center, flex-begin, column);

    // background-color: yellow;
}

.brand {
    @include display-flex(flex-begin);
    font-size: 5px;

    //    background-color: lightgreen;
}

.corp-logo {
    @include display-flex();
}

// display-flex($justify: center, $align: space-between, $direction: row, $wrap: nowrap)

.app-nav {
    height: $app-nav-height;
    @include display-flex(space-between, flex-begin, column);

    // background-color: green;
}

.app-nav-itm {
    @include display-flex(flex-begin, center);
}

.app-nav-itm-icon {
    width: 10px;


    img {
        display: block;
        width: 100%;
    }
}

.app-nav-itm-name {
    font-size: $app-nav-itm-name-font-size;
}

.splash {
    background-color: $splash-background-color;
    border-radius: $app-content-border-radius;
    overflow: hidden;
    img {
        display: block;
        width: 100%;
    }

    //    background-color: #dd0;
}

.brag-words {
    font-size: 5px;
}

.org-name {
    font-size: 5px;
}
