@use 'assets/reset' as *;
@use 'assets/var' as *;
// @use 'assets/mixing' as *;
@use 'assets/beds-vars' as *;
@use 'assets/beds-mixins' as *;

// display-flex($justify: center, $align: space-between, $direction: row, $wrap: nowrap)

body {
    @include display-flex(center, center);
    background-color: $color-four;
    background-color: purple;
    // height: 100vh;
}

.app {
    width: $app-width;
    height: $app-height;
    border-radius: $app-border-radius;
    background-color: $alt-black;
    @include display-flex(space-between);
    font-family: $font-fam;
    font-size: $pri-font-size;
    color: $pri-font-color;
    // overflow: hidden;
}

.nav-pane {
    width: $nav-pane-width;
    background-color: $black;
    background-color: red;

    box-sizing: border-box;
    padding: $nav-pane-padding;
}

.pri-nav-clip {
    height: $pri-nav-clip-height;
    // height: 100px;
    // margin: $nav-pane-clip-margin;
    // box-sizing: border-box;
    overflow: hidden;

    background-color: orange;
}

.pri-nav {
    background-color: yellow;
}

.brand {
    background-color: lightgreen;
}

.app-nav {
    background-color: green;
}

.splash {
    background-color: #dd0;
}
