@use './assets/reset' as *;
@use './assets/infoVars' as *;

/**********************/
/* begin Mike's stuff */
/**********************/

// img {
//     display: block;
//     width: 100%;
// }

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.app {
    width: $app-width;
    height: $app-height;
    // aspect-ratio: 4/3;
    border-radius: $app-border-radius;
    overflow: hidden;
    background-color: $app-bg-color;
    color: $app-txt-color;
    display: flex;
}

.nav-pane {
    background-color: $nav-pane-bg-color;
    width: $nav-pane-width;
    padding: $nav-pane-padding      ;
    max-width: $nav-pane-max-width;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.splash {
    background-color: $splash-bg-color;
    border-radius: 1vw;
    padding: 1.5vw;
    padding-bottom: 0;
}
img {
    display: block;
    width: 100%;
}

// .test {
//     background-color: pink;
//     width: 100%;
// }
