@use './assets/reset' as *;
@use './assets/infoVars' as *;

/**********************/
/* begin Mike's stuff */
/**********************/

body {
    height: 100vmax;
    display: flex;
    justify-content: center;
    align-items: center;
}
