@use './assets/reset' as *;
@use './assets/infoVars' as *;

/**********************/
/* begin Mike's stuff */
/**********************/

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.app {
    width: $app-width;
    height: $app-height;
    // aspect-ratio: 4/3;
    border-radius: $app-border-radius;
    overflow: hidden;
    background-color: $app-bg-color;
    color: $app-txt-color;
    display: flex;
}

.nav-pane {
    background-color: $nav-pane-bg-color;
    width: $nav-pane-width;
}
