// COLORS
$app-bg-color: #1B1F24;
$app-txt-color: #FFFFFF;

$nav-pane-bg-color: #121418;
$splash-bg-color: #3393FF;

//FONT

//SIZING
$app-width: 92.5vw;
$app-height: 92.5vh;
$app-border-radius: 2vw;

$nav-pane-padding: 2vw;
$nav-pane-width: calc(20vw - calc(2 * $nav-pane-padding));
$nav-pane-max-width: $nav-pane-width;
