@mixin flexMe($display, $direction, $align, $justify, $wrap:nowrap) {
    display: $display;
    flex-direction: $direction;
    align-items: $align;
    justify-content: $justify;
    flex-wrap:$wrap;
}