// COLORS
$black: #121418;
$alt-black: #1B1F24;
$white: #FFFFFF;
$main-color: #00C29A;
$alt-main-color: #00E7B6;
$color-two: #4EA2FF;
$color-three: #C89AFE;
$color-four: #FFD155;
$color-five: #FDC798;
$color-six: #F8FD99;

//FONT
$font-fam: Helvetica, Arial, sans-serif;

//SIZING
$inner-width: 90%;
$inner-margin: 1em;
$main-radius: 20px;
$main-padding: 2em;
$menu-width: 15%;
$display-width: 85%;